.home-main-container {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 40px;
    background-color: #faf9f6;
}

.page-contents {
    /* display: flex; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 32px;
    padding: 8px;
    margin: 16px;
    
}

.contents-container {
    justify-content: space-around;
}

.box {
    display: flex;
}

#information {

}