.home-main-container {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 40px;
    background-color: #faf9f6;
}

#page-contents {
    display: flex;
    border-radius: 32px;
    padding: 8px;
    margin: 16px;
    flex-direction: row;
    align-items: center;
}

#contents-container {
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
    display: sticky;
}

.box {
    display: flex;
}

#information {
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
}

h3 {
    padding: 5px;
    margin: 5px;
}

a>p {
    text-decoration: none;
    color: black;
}

a>p:hover {
    color:blue;
}

a:hover {
    color:blue;
}