.nav-items {
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 40px;
}

li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

li a:hover {
    color: #fffdd0;
    text-decoration: underline;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #b0c4de;  
    padding: 2px;
    margin: 2px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 256px;
    accent-color: black;
    display: inline-flex;
  }