.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #faf9f6;  
    padding: 20px;
    margin: 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
  }